.card {
  /* height: 166px; */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}
.card__link {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
}

.card__name {
  font-size: 18px;
  font-weight: normal;
}
.card__name:hover:after {
  font: var(--fa-font-solid);
  /* content: '\f00e'; */
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 100%;
  margin-left: 5px;
}
.card__like {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  background-image: none;
  color: var(--tertiary-color);
  padding: 0;
  cursor: pointer;
  z-index: 2;
}
.like-no-active {
  color: var(--text-secondary-color);
}

.card::before {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff8;
  backdrop-filter: blur(2px);
  transition: 0.5s linear;
  transition-property: backdrop-filter, background-color;
}
